<configuration>
  <system.webServer>

    <!-- indicates that the server-faye.js and server-socketio.js files are node.js applications 
    to be handled by the iisnode module -->

    <handlers>
      <add name="iisnode-faye" path="server-faye.js" verb="*" modules="iisnode" />
      <add name="iisnode-socketio" path="server-socketio.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- indicate that all strafic the URL paths beginning with 'socket.io' should be 
    redirected to the server-socketio.js node.js application to avoid IIS attempting to 
    serve that content using other handlers (e.g. static file handlers)
    -->

    <rewrite>
         <rules>
              <rule name="LogFile" patternSyntax="ECMAScript">
                   <match url="socket.io"/>
                   <action type="Rewrite" url="server-socketio.js"/>
              </rule>
         </rules>
    </rewrite>    

    <!-- disable the IIS websocket module to allow node.js to provide its own 
    WebSocket implementation -->

    <webSocket enabled="false" />
    
  </system.webServer>
</configuration>
